# SPDX-FileCopyrightText: 2020 Alexander Stippich <a.stippich@gmx.net>
#
# SPDX-License-Identifier: CC0-1.0
[Desktop Entry]
Categories=Qt;KDE;Graphics;Scanning;
Comment=Scan and save multi-page documents
Comment[ar]=امسح المستندات متعددة الصفحات ضوئيًّا واحفظها
Comment[az]=Çoxsəhifəli sənədləri oxutmaq və saxlamaq
Comment[be]=Сканаванне і захаванне шматстаронкавых дакументаў
Comment[bg]=Сканиране и запазване на многостранични документи
Comment[ca]=Escaneja i desa documents multipàgina
Comment[ca@valencia]=Escaneja i guarda documents multipàgina
Comment[cs]=Skenujte a ukládejte dokumenty o více stránkách
Comment[de]=Mehrseitige Dokumente scannen und abspeichern
Comment[en_GB]=Scan and save multi-page documents
Comment[eo]=Skani kaj konservi multpaĝajn dokumentojn
Comment[es]=Escanear y guardar documentos multipágina
Comment[eu]=Eskaneatu eta gorde orri anitzeko dokumentuak
Comment[fi]=Lue ja tallenna monisivuisia tiedostoja
Comment[fr]=Numériser et enregistrer les documents composés de plusieurs pages 
Comment[gl]=Escanear e gardar documentos de varias páxinas.
Comment[hu]=Többoldalas dokumentumok szkennelése és mentése
Comment[ia]=Scande e salveguarda documentos multi-pagina
Comment[is]=Skanna og vista margsíðna skjöl
Comment[it]=Scansiona e salva documenti multi pagina
Comment[ka]=მრავალგვერდიანი დოკუმენტების სკანირება და შენახვა
Comment[ko]=여러 쪽 문서를 스캔하고 저장
Comment[nl]=Documenten met meerdere pagina's scannen en opslaan
Comment[pa]=ਕਈ ਸਫ਼ਿਆਂ ਦੇ ਡੌਕੂਮੈਂਟਾਂ ਨੂੰ ਸਕੈਨ ਕਰੋ ਅਤੇ ਸੰਭਾਲੋ
Comment[pl]=Skanuj i zapisuj wielostronicowe dokumenty
Comment[pt]=Digitalizar e gravar documentos com várias páginas
Comment[pt_BR]=Digitaliza e salva documentos de múltiplas páginas
Comment[ru]=Сканирование и сохранение многостраничных документов
Comment[sl]=Optično branje in shranjevanje večstranskih dokumentov
Comment[sv]=Läs in och spara flersidiga dokument
Comment[tr]=Çok sayfalı belgeleri tara ve kaydet
Comment[uk]=Сканування і збереження багатосторінкових документів
Comment[x-test]=xxScan and save multi-page documentsxx
Comment[zh_CN]=扫描和保存多页文档
Comment[zh_TW]=掃描並儲存多頁文件
Exec=skanpage
GenericName=Multi-Page Document Scanning Application
GenericName[ar]=تطبيق لمسح المستندات متعددة الصفحات ضوئيًّا
GenericName[az]=Çoxsəhifəli sənədləri oxutmaq üçün tətbiq
GenericName[be]=Праграма для сканавання шматстаронкавых дакументаў
GenericName[bg]=Приложение за сканиране на многостранични документи
GenericName[ca]=Aplicació d'escaneig de documents multipàgina
GenericName[ca@valencia]=Aplicació d'escaneig de documents multipàgina
GenericName[cs]=Aplikace pro vícestránkové skenování
GenericName[de]=Anwendung zum Scannen mehrseitiger Dokumente
GenericName[en_GB]=Multi-Page Document Scanning Application
GenericName[eo]=Skan-Aplikaĵo por Multpaĝaj Dokumentoj
GenericName[es]=Aplicación para escanear documentos multipágina
GenericName[eu]=Orri anitzeko dokumentuak eskaneatzeko aplikazioa
GenericName[fi]=Monisivuisten tiedostojen kuvanlukusovellus
GenericName[fr]=Application de numérisation de documents composés de plusieurs pages
GenericName[gl]=Aplicación para escanear documentos de varias páxinas
GenericName[hu]=Többoldalas dokumentumokat szkennelő alkalmazás
GenericName[ia]=Application pro scander documento multi-pagina
GenericName[is]=Forrit til skönnunar á mörgum síðum
GenericName[it]=Applicazione per scansionare documenti multi pagina
GenericName[ka]=მრავალგვერდიანი დოკუმენტების სკანირების აპლიკაცია
GenericName[ko]=여러 쪽 문서 스캔 앱
GenericName[nl]=Scanprogramma voor document met meerdere pagina's
GenericName[pa]=ਕਈ ਸਫ਼ਿਆਂ ਦੇ ਡੌਕੂਮੈਂਟ ਨੂੰ ਸਕੈਨ ਕਰਨ ਵਾਲੀ ਐਪਲੀਕੇਸ਼ਨ
GenericName[pl]=Program do skanowania wielostronicowych dokumentów
GenericName[pt]=Aplicação de Digitalização de Documentos com Várias Páginas
GenericName[pt_BR]=Aplicativo para digitalização de documentos de múltiplas páginas
GenericName[ru]=Приложение для сканирования многостраничных документов
GenericName[sl]=Aplikacija za optično branje večstranskih dokumentov
GenericName[sv]=Program för bildinläsning av flersidiga dokument
GenericName[tr]=Çok Sayfalı Belge Tarama Uygulaması
GenericName[uk]=Програма для сканування багатосторінкових документів
GenericName[x-test]=xxMulti-Page Document Scanning Applicationxx
GenericName[zh_CN]=多页文档扫描应用
GenericName[zh_TW]=多頁文件掃描應用程式
Icon=skanpage
Name=Skanpage
Name[ar]=ماسح الصفحات
Name[az]=Skanpage
Name[be]=Skanpage
Name[bg]=Skanpage
Name[ca]=Skanpage
Name[ca@valencia]=Skanpage
Name[cs]=Skanpage
Name[de]=Skanpage
Name[el]=Skanpage
Name[en_GB]=Skanpage
Name[eo]=Skanpage
Name[es]=Skanpage
Name[eu]=Skanpage
Name[fi]=Skanpage
Name[fr]=Skanpage
Name[gl]=Skanpage
Name[hu]=Skanpage
Name[ia]=Skanpage
Name[id]=Skanpage
Name[is]=Skanpage
Name[it]=Skanpage
Name[ka]=Skanpage
Name[ko]=Skanpage
Name[nl]=Skanpage
Name[nn]=Skanpage
Name[pa]=ਸਕੈਨਪੇਜ਼
Name[pl]=Skanpage
Name[pt]=Skanpage
Name[pt_BR]=Skanpage
Name[ro]=Skanpage
Name[ru]=Skanpage
Name[sk]=Skanpage
Name[sl]=Skanpage
Name[sv]=Skanpage
Name[tr]=SayfaTara
Name[uk]=Skanpage
Name[x-test]=xxSkanpagexx
Name[zh_CN]=Skanpage 扫描工具
Name[zh_TW]=Skanpage
Type=Application
