[Desktop Entry]
Categories=Qt;KDE;Graphics;Scanning;
Comment=Scan and save images
Comment[ca]=Escaneja i desa imatges
Comment[ca@valencia]=Escaneja i guarda imatges
Comment[es]=Escanear y guardar imágenes
Comment[nl]=Afbeeldingen scannen en opslaan
Comment[nn]=Skann og lagra bilete
Comment[pt]=Digitalizar e gravar imagens
Comment[sl]=Optično branje in shranjevanje slik
Comment[sv]=Läs in och spara bilder
Comment[uk]=Сканування і збереження зображень
Comment[x-test]=xxScan and save imagesxx
Exec=skanpage %U
GenericName=Image Scanning Application
GenericName[ca]=Aplicació per a la digitalització d'imatges
GenericName[ca@valencia]=Aplicació per a la digitalització d'imatges
GenericName[es]=Aplicación para ecanear imágenes
GenericName[nl]=Afbeeldingscanprogramma
GenericName[nn]=Biletskanningsprogram
GenericName[pt]=Aplicação de Digitalização de Imagens
GenericName[sl]=Aplikacija za optično branje
GenericName[sv]=Program för bildinläsning
GenericName[uk]=Програма для сканування зображень
GenericName[x-test]=xxImage Scanning Applicationxx
Icon=scanner
Name=Skanpage
Name[ca]=Skanpage
Name[ca@valencia]=Skanpage
Name[es]=Skanpage
Name[nl]=Skanpage
Name[nn]=Skanpage
Name[pt]=Skanpage
Name[sl]=Skanpage
Name[sv]=Skanpage
Name[uk]=Skanpage
Name[x-test]=xxSkanpagexx
StartupNotify=false
Terminal=false
Type=Application
